/* Tab container */
.tab {
    position: sticky;
    display: flex;
    border-bottom: 2px solid #ccc;
    background-color: #f1f1f1;
}

/* Tab links */
.tab a {
    flex: 1;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
    transition: background-color 0.3s;
}

.tab a:hover {
     background-color: #ddd;
}

.tab a.active {
    background-color: #ccc;
    font-weight: bold;
}